.Maize { background-image: none; background-color: #fffdea; color: #7f7d6a; }
.White { background-image: none; background-color: #ffffff; color: #7f7f7f; }
.Ice { background-image: none; background-color: #f1f3ff; color: #71737f; }
.Platinum { background-image: none; background-color: #c8bece; color: #483e4e; }
.Silver { background-image: none; background-color: #bbbabf; color: #3b3a3f; }
.Grey { background-image: none; background-color: #808080; color: #000000; }
.Charcoal { background-image: none; background-color: #545454; color: #d3d3d3; }
.Coal { background-image: none; background-color: #4b4946; color: #cac8c5; }
.Black { background-image: none; background-color: #333333; color: #b2b2b2; }
.Obsidian { background-image: none; background-color: #1d2224; color: #9ca1a3; }
.Midnight { background-image: none; background-color: #292b38; color: #a8aab7; }
.Shadow { background-image: none; background-color: #392d43; color: #b8acc2; }
.Mulberry { background-image: none; background-color: #6e235d; color: #eda2dc; }
.Thistle { background-image: none; background-color: #8f7c8b; color: #0ffb0b; }
.Lavender { background-image: none; background-color: #cca4e0; color: #4c2460; }
.Purple { background-image: none; background-color: #a261cf; color: #22e04f; }
.Violet { background-image: none; background-color: #643f9c; color: #e3be1c; }
.Royal { background-image: none; background-color: #4d2c89; color: #ccab09; }
.Storm { background-image: none; background-color: #757adb; color: #f4f95b; }
.Navy { background-image: none; background-color: #212b5f; color: #a0aade; }
.Blue { background-image: none; background-color: #324ba9; color: #b1ca29; }
.Splash { background-image: none; background-color: #6394dd; color: #e2145d; }
.Sky { background-image: none; background-color: #aec8ff; color: #2e487f; }
.Stonewash { background-image: none; background-color: #7895c1; color: #f71541; }
.Steel { background-image: none; background-color: #556979; color: #d4e8f8; }
.Denim { background-image: none; background-color: #2f4557; color: #aec4d6; }
.Azure { background-image: none; background-color: #0a3d67; color: #89bce6; }
.Caribbean { background-image: none; background-color: #0086ce; color: #7f064e; }
.Teal { background-image: none; background-color: #2b768f; color: #aaf50f; }
.Aqua { background-image: none; background-color: #72c4c4; color: #f14444; }
.Seafoam { background-image: none; background-color: #b2e2bd; color: #32623d; }
.Jade { background-image: none; background-color: #61ab89; color: #e02b09; }
.Emerald { background-image: none; background-color: #20603f; color: #9fdfbe; }
.Jungle { background-image: none; background-color: #1e361a; color: #9db599; }
.Forest { background-image: none; background-color: #425035; color: #c1cfb4; }
.Swamp { background-image: none; background-color: #687f67; color: #e7fee6; }
.Avocado { background-image: none; background-color: #567c34; color: #d5fbb3; }
.Green { background-image: none; background-color: #629c3f; color: #e11cbe; }
.Leaf { background-image: none; background-color: #a5e32d; color: #2563ac; }
.Spring { background-image: none; background-color: #a9a032; color: #2920b1; }
.Goldenrod { background-image: none; background-color: #bea55d; color: #3e25dc; }
.Lemon { background-image: none; background-color: #ffe63b; color: #7f66ba; }
.Banana { background-image: none; background-color: #ffec80; color: #7f6c00; }
.Ivory { background-image: none; background-color: #ffd297; color: #7f5217; }
.Gold { background-image: none; background-color: #e8af49; color: #682fc8; }
.Sunshine { background-image: none; background-color: #fa912b; color: #7a11aa; }
.Orange { background-image: none; background-color: #d5602b; color: #55dfaa; }
.Fire { background-image: none; background-color: #ef5c23; color: #6fdba2; }
.Tangerine { background-image: none; background-color: #ff7360; color: #7ff2df; }
.Sand { background-image: none; background-color: #b27749; color: #32f6c8; }
.Beige { background-image: none; background-color: #cabba2; color: #4a3b22; }
.Stone { background-image: none; background-color: #827a64; color: #02f9e3; }
.Slate { background-image: none; background-color: #564d48; color: #d5ccc7; }
.Soil { background-image: none; background-color: #5a4534; color: #d9c4b3; }
.Brown { background-image: none; background-color: #8e5b3f; color: #0edabe; }
.Chocolate { background-image: none; background-color: #563012; color: #d5af91; }
.Rust { background-image: none; background-color: #8b3220; color: #0bb19f; }
.Tomato { background-image: none; background-color: #ba311c; color: #3ab09b; }
.Crimson { background-image: none; background-color: #850012; color: #057f91; }
.Blood { background-image: none; background-color: #451717; color: #c49696; }
.Maroon { background-image: none; background-color: #652127; color: #e4a0a6; }
.Red { background-image: none; background-color: #c1272d; color: #41a6ac; }
.Carmine { background-image: none; background-color: #b13a3a; color: #31b9b9; }
.Coral { background-image: none; background-color: #cc6f6f; color: #4ceeee; }
.Magenta { background-image: none; background-color: #e934aa; color: #69b32a; }
.Pink { background-image: none; background-color: #e77fbf; color: #67fe3f; }
.Rose { background-image: none; background-color: #ffd6f6; color: #7f5676; }

.label_text {
    padding-top: 7px;
    text-align:center;
}

.cup_image {
    float: left;
    margin-right: 20px;
}

.canvas_1 {
    border: 1px solid black;
}